<ion-header color="light">
  <div class="header">
    <h1>Activity</h1>
  </div>
</ion-header>

<ion-content color="light">
  <div class="content">
    <!-- Not Yet Paid -->
    <ion-list id="notYetPaidList">
      <ion-list-header>
        <h1>Not Yet Paid</h1>
      </ion-list-header>
    </ion-list>

    <!-- Active -->
    <ion-list id="activeList">
      <ion-list-header>
        <h1>Active</h1>
      </ion-list-header>
    </ion-list>

    <!-- Expired -->
    <ion-list id="expiredList">
      <ion-list-header>
        <h1>Expired</h1>
      </ion-list-header>
    </ion-list>
  </div>
</ion-content>
