<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home-sharp"></ion-icon>
      Home
    </ion-tab-button>
    <ion-tab-button tab="category">
      <ion-icon name="grid-sharp"></ion-icon>
      Category
    </ion-tab-button>
    <ion-tab-button tab="activity">
      <ion-icon name="stats-chart-sharp"></ion-icon>
      Activity
    </ion-tab-button>
    <ion-tab-button tab="profile">
      <ion-icon name="person-circle-sharp"></ion-icon>
      Profile
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
