<ion-header [translucent]="true">
  <div class="title">
    <h1>CARRENT</h1>
  </div>
</ion-header>

<ion-content>
  <div class="container">
    <div class="brand">
      <h1><span class="highlight">Platform </span>Terbaik Rental Mobil</h1>
      <div class="action">
        <swiper-container autoplay loop>
          <swiper-slide>
            <img alt="Silhouette of mountains" src="assets/img/zenix1.png" />
          </swiper-slide>
          <swiper-slide>
            <img alt="Silhouette of mountains" src="assets/img/zenix2.png" />
          </swiper-slide>
        </swiper-container>
      </div>
    </div>
  </div>

  <div class="category">
    <ion-label>Favorit</ion-label>
    <swiper-container style="margin: 0" class="mySwiper">
      @for (car of selectedCars; track $index) {
      <swiper-slide>
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{ car.name }}</ion-card-title>
          </ion-card-header>
          <img
            src="{{ url + car.image.split('../public')[1] }}"
            alt="{{ car.name }}"
          />
          <ion-card-content>
            <ion-card-subtitle
              >Rp.{{ car.price_per_day }} / Hari</ion-card-subtitle
            >
            <p style="margin: 2px 5px">Stok: {{car.stock}}</p>
            <ion-list>
              <ion-item>
                <ion-icon
                  aria-hidden="true"
                  name="people"
                  slot="start"
                ></ion-icon>
                <ion-label2>{{ car.seat }}</ion-label2>
              </ion-item>
              <ion-item>
                <ion-icon
                  aria-hidden="true"
                  name="settings"
                  slot="start"
                ></ion-icon>
                <ion-label2>{{ car.transmisi }}</ion-label2>
              </ion-item>
              <ion-item>
                <ion-icon
                  aria-hidden="true"
                  name="clipboard"
                  slot="start"
                ></ion-icon>
                <ion-label2>{{ car.jenis_bbm }}</ion-label2>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </swiper-slide>
      }
    </swiper-container>
  </div>

  <div class="category2">
    <ion-label>Recommended</ion-label>
    <swiper-container style="margin: 0" class="mySwiper">
      @for (car of recommendedCars; track $index) {
      <swiper-slide>
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{car.name}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-card-subtitle>
              <img
                alt="Silhouette of mountains"
                src="{{url + car.image.split('../public')[1]}}"
              />
              <p class="price-tag">
                <span style="font-weight: bold">Rp.{{car.price_per_day}}</span>
                <span class="price-suffix">/ Hari</span>
              </p>
              <p style="margin: 2px 5px">Stok: {{car.stock}}</p>
            </ion-card-subtitle>
            <ion-list>
              <ion-item>
                <ion-icon
                  aria-hidden="true"
                  name="people"
                  slot="start"
                ></ion-icon>
                <ion-label2>{{car.seat}}</ion-label2>
              </ion-item>
              <ion-item>
                <ion-icon
                  aria-hidden="true"
                  name="settings"
                  slot="start"
                ></ion-icon>
                <ion-label2>{{car.transmisi}}</ion-label2>
              </ion-item>
              <ion-item>
                <ion-icon
                  aria-hidden="true"
                  name="clipboard"
                  slot="start"
                ></ion-icon>
                <ion-label2>{{car.jenis_bbm}}</ion-label2>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </swiper-slide>
      }
    </swiper-container>
  </div>
</ion-content>
